<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Pixel Control</title>
        <link rel="stylesheet" href="/style.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <form id="form" class="form" method="POST" action="/setcolor">
                <p>Set neoPixel RGB color: </p>
                <p>R:<input type="text" id="color" name="R"/></p>
                <p>G:<input type="text" id="color" name="G"/></p>
                <p>B:<input type="text" id="color" name="B"/></p>
                <P><input type="submit" value="send"></P>
            </form>
            <div class="inner">
                <form id="form" class="form" method="POST" action="/setspec">
                    <p> Set predefined color: </p>
                    <select name="spec_color" id="coloptions">
                        <option value="RED">RED</option>
                        <option value="GREEN">GREEN</option>
                        <option value="BLUE">BLUE</option>
                        <option value="YELLOW">YELLOW</option>
                        <option value="PINK">PINK</option>
                    </select>
                    <p><input type="submit" value="select"/></p>
                </form>
            </div>
            <div>
                <form id="form" class="form" method="POST" action="/setpolling">
                    <p>set polling rate: <input type="text" id="polling" name="polling"/></p>
                    <P><input type="submit" value="Set"></P>
                </form>
            </div>
            <div>
                <% var colstr = currcolor?"R: " + currcolor.R + ", G: " + currcolor.G + ", B: " + currcolor.B:"unknown" %>
                <% var laststr = lastcol?"R: " + lastcol.R + ", G: " + lastcol.G + ", B: " + lastcol.B:"unknown" %>
                <% var pollingstr = currpolling?curpolling:"unknown" %>
                <p>Last Requested Color: <%= colstr %> </p>
                <p>Last Color set on ESP: <%= laststr %></p>
                <p>Current polling rate: <%= pollingstr %> ms</p>
            </div>
        </div>
    </body>
</html>